@use "../../styles/settings" as *;

.ui-suite {
  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    max-width: 640px;
  }

  &__grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  &__card {
    @include regularShadow;
    & {
      align-items: center;
      background: rgba(255, 255, 255, 0.02);
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: $border-radius-standard;
      display: flex;
      gap: 12px;
      padding: 18px;
      transition: all 200ms ease-out;
      position: relative;
      width: 100%;
    }

    &::before {
      background-color: $white-color;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      opacity: 0.7;
      transition: all 200ms ease-out;
    }

    &:hover {
      transform: translateY(-4px);
      border-color: rgba(255, 255, 255, 0.16);

      &::before {
        background-color: $logo-color-5;
        opacity: 1;
      }
    }
  }

  &__logo {
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
  }

  &__icon {
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    img {
      filter: invert(1);
    }
  }

  &__label {
    color: $white-color;
    font-weight: 600;
  }

  @media screen and (min-width: $media-sm) {
    &__card {
      width: calc((100% - 16px) / 2);
    }
  }

  @media screen and (min-width: $media-lg) {
    &__card {
      width: calc((100% - 18px * 2) / 3);
    }
  }
}
