@use "../../styles/settings" as *;

.compliance {
  &__container {
    @include container;
  }

  &__document {
    @include regularShadow;
    @include container;
    & {
      background-color: $white-color;
      border-radius: $border-radius-small;
      max-width: 900px;
    }
  }

  &__date {
    margin: 30px 0 10px;
  }

  &__title {
    @include regularShadow;
    @include title;
    & {
      align-items: center;
      background-color: $black-color;
      border-radius: $border-radius-small;
      color: $white-color;
      display: flex;
      gap: 20px;
      padding: 15px 10px;
      text-align: left;
    }
  }

  &__title-small {
    @include titleSmall;
    & {
      color: $black-flat-color;
      margin: 20px 0 10px;
      text-align: left;
    }
  }

  &__link {
    color: $facebook-color;
    cursor: pointer;
    font-weight: 600;
    transition: all 150ms ease-out;

    &:hover {
      color: $facebook-hover-color;
      text-decoration: underline;
    }
  }

  &__par {
    @include description;
    & {
      color: $black-flat-color;
      margin: 8px 0;
      text-align: left;
    }
  }

  &__list {
    margin: 0 0 20px;

    &--with-dots {
      margin: 0 0 20px 30px;

      li {
        list-style-type: disc;
      }
    }

    li {
      margin: 5px 0;
    }
  }

  @media screen and (max-width: $media-sm) {
    &__title {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &__list--with-dots {
      margin: 0 0 20px 20px;
    }
  }
}
