@use "../../styles/settings" as *;

.apps-highlights {
  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    max-width: 640px;
  }

  &__button {
    @include button;
  }

  &__cards {
    align-items: center;
    display: flex;
    gap: 10px;
    max-width: 800px;
  }

  &__card {
    @include regularShadow;
    & {
      background: $black-flat-color;
      border-radius: $border-radius-standard;
      overflow: hidden;
      padding: 10px;
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &:first-of-type {
      display: flex;
    }

    img {
      border-radius: 4px;
      width: 100%;
    }
  }

  @media screen and (min-width: $media-xs) {
    &__container {
      gap: 25px;
    }

    &__card {
      display: flex;
    }
  }

  @media screen and (min-width: $media-sm) {
    &__container {
      gap: 30px;
    }

    &__cards {
      gap: 18px;
    }

    &__card {
      padding: 20px;
    }
  }
}
