@use "../../styles/settings" as *;

.ui-components-preview {
  position: relative;

  &__container {
    @include container;
    position: relative;
    z-index: 1;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    max-width: 550px;
  }

  &__link {
    @include button;
  }
}
