@use "../../styles/settings" as *;

.hero {
  border-top: 1px solid transparent;
  min-height: calc(100vh - $header-height);
  overflow: visible;
  display: flex;
  position: relative;

  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin-bottom: auto;
      margin-top: auto;
      position: relative;
      z-index: 1;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon {
    align-items: center;
    display: flex;
    margin: 0 0 10px;
    width: min(140px, 40vw);

    svg {
      width: 100%;
    }
  }

  &__subtitle {
    color: $white-color;
    font-family: $font-righteous;
    font-size: clamp(20px, 4vw, 32px);
  }

  &__title {
    @include textRegularShadow;
    & {
      background: $logo-gradient;
      font-family: $font-righteous;
      font-size: clamp(38px, 9vw, 84px);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
  }

  &__description {
    @include description;
    max-width: 550px;
  }

  &__links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
  }

  &__link {
    @include button;
  }

  @media screen and (max-width: $media-sm) {
    &__container {
      gap: 16px;
    }

    &__description {
      max-width: 100%;
    }

    &__links {
      justify-content: center;
    }
  }
}
