@use "../styles/settings" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include scrollbar;
  & {
    background-color: #0b0b10;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-work-sans), sans-serif;
    overflow-x: hidden;
  }

  &:focus,
  &:active {
    outline: none;
  }

  button,
  hr,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  body,
  html,
  header,
  section,
  main,
  span,
  ol,
  ul,
  li,
  blockquote {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;

    &:before,
    &:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    &:focus,
    &:active {
      outline: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  input,
  button,
  textarea {
    font-family: inherit;
  }

  input {
    &::-ms-clear {
      display: none;
    }
    &[type="file"] {
      display: none;
    }
  }

  button {
    cursor: pointer;

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  ul li,
  ol li {
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

body.header-menu-open {
  overflow: hidden;
  overscroll-behavior: none;
}

body.splash-lock {
  overflow: hidden;
  overscroll-behavior: none;
}

@media screen and (min-width: $media-md) {
  body.header-menu-open {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: auto;
  }

  body.splash-lock {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: auto;
  }
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: rgb(161, 242, 187);
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 13px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: $media-xs) {
  html {
    font-size: 14.5px;
  }
}

@media screen and (min-width: $media-sm) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: $media-md) {
  html {
    font-size: 15.5px;
  }
}

@media screen and (min-width: $media-lg) {
  html {
    font-size: 16px;
  }
}

section {
  position: relative;
  overflow: visible;
}

main {
  padding: $header-height 0 0 0 !important;
}
