@use "../../styles/settings" as *;

.contact {
  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    max-width: 620px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  &__card {
    @include regularShadow;
    & {
      background-color: $black-flat-color;
      border-radius: $border-radius-standard;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 18px;
      padding: 24px;
    }
  }

  &__card-title {
    color: $white-color;
    font-family: $font-righteous;
    font-size: 20px;
  }

  &__card-value {
    color: $white-color;
    font-size: 18px;
    font-weight: 600;
  }

  &__card-description {
    @include description;
    text-align: left;
  }

  &__card-link {
    @include button;
    align-self: flex-start;

    &--disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  @media screen and (max-width: $media-md) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
