@use "../../styles/settings" as *;
@use "./namespaces/engineering-notes";
@use "./namespaces/open-source-radar";
@use "./namespaces/insights-video";

.section {
  &__container {
    @include container;

    & {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__description {
    &--left {
      margin: 0 auto 0 0;
    }
    &--center {
      margin: 0 auto;
    }
    &--right {
      margin: 0 0 0 auto;
    }
  }
}
