$black-color: #000000;
$black-flat-color: #1a1b22;
$black-flat-color-opacity: #1a1b22d0;
$white-color: #ffffff;
$grey-dark-color: #aeaeae;

$logo-color-1: #ffee27;
$logo-color-2: #fec800;
$logo-color-3: #f18e35;
$logo-color-4: #e95f32;
$logo-color-5: #e2312d;
$logo-gradient: linear-gradient(
  90deg,
  $logo-color-1,
  $logo-color-2,
  $logo-color-3,
  $logo-color-4,
  $logo-color-5
);

$whats-app-color: #4fce5d;
$whats-app-hover-color: #5fdf6e;
$whats-app-text-color: #f7f7f7;
$facebook-color: #1877f2;
$facebook-hover-color: #2988e3;
$facebook-text-color: #f7f7e2;
$instagram-color: #cf3981;
$instagram-hover-color: #df4a92;
$instagram-text-color: #f7f7f7;
$sms-color: #221e1f;
$sms-hover-color: #443f3f;
$sms-text-color: #f1fff8;

$gradient-black: linear-gradient(-45deg, #111111 0%, #313131 100%);

$font-work-sans: var(--font-work-sans), sans-serif;
$font-unison-pro: var(--font-unison-pro), sans-serif;
$font-righteous: var(--font-righteous), sans-serif;

$transition-standard: all 150ms ease-out;
$animation-accordion: cubic-bezier(0.55, -0.19, 0.59, 0.95);
$animation-bubble: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$border-radius-small: 6px;
$border-radius-standard: 8px;
$bottom-padding: 34px;
$header-height: 90px;
$top-z-index: 9999;

$media-uxs: 280px;
$media-xxxs: 320px;
$media-xxs: 360px;
$media-xs: 480px;
$media-sm: 640px;
$media-md: 900px;
$media-lg: 1200px;
$media-tablet: $media-md;

@mixin textRegularShadow {
  text-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
}

@mixin regularShadow {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
}

@mixin lightShadow {
  box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
}

@mixin thinShadow {
  box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
}

@mixin thinnerShadow {
  box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 3px 4px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin thinnerRightShadow {
  box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin zeroShadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-color;
    border: 3px solid $black-color;
    cursor: pointer;

    &:active {
      background-color: $grey-dark-color;
      border: 3px solid $grey-dark-color;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-dark-color;
  }
}

@mixin container {
  max-width: 1220px;
  margin: 0 auto;
  min-height: calc(100% - 10px * 2);
  padding: 10px 10px;
  transition: all 150ms linear;
  width: calc(100% - 10px * 2);

  @media screen and (min-width: 425px) {
    min-height: calc(100% - 20px * 2);
    padding: 20px 15px;
    width: calc(100% - 15px * 2);
  }

  @media screen and (min-width: $media-md) {
    min-height: calc(100% - 40px * 2);
    padding: 40px 30px;
    width: calc(100% - 30px * 2);
  }
}

@mixin button {
  cursor: pointer;
  display: flex;
  position: relative;

  &::after {
    background: $logo-gradient;
    border-radius: $border-radius-small;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.02);
    transition: all 600ms $animation-bubble;
    width: 100%;
  }

  &:hover::after {
    -webkit-box-shadow: 0px 0px 27px 3px $logo-color-3;
    -moz-box-shadow: 0px 0px 27px 3px $logo-color-3;
    box-shadow: 0px 0px 27px 3px $logo-color-3;
    transform: translate(-50%, -50%) scale(1.15);
  }

  span {
    background-color: $black-color;
    border-radius: $border-radius-small;
    color: $white-color;
    padding: 14px 20px;
    z-index: 2;
  }
}

@mixin title {
  color: $white-color;
  text-align: center;
  font-family: $font-righteous;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.16px;
  transition: all 120ms ease-out;

  @media screen and (min-width: 500px) {
    font-size: 24px;
  }

  @media screen and (min-width: $media-md) {
    font-size: 32px;
  }
}

@mixin titleSmall {
  color: $black-flat-color;
  text-align: center;
  font-family: $font-work-sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.16px;
  transition: all 120ms ease-out;

  @media screen and (min-width: 500px) {
    font-size: 16px;
    line-height: 16px;
  }

  @media screen and (min-width: $media-tablet) {
    font-size: 18px;
    line-height: 16px;
  }
}

@mixin subtitle {
  color: $black-flat-color;
  text-align: center;
  font-family: $font-work-sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.16px;
  transition: all 120ms ease-out;

  @media screen and (min-width: 500px) {
    font-size: 14px;
    line-height: 14px;
  }

  @media screen and (min-width: $media-tablet) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin description {
  color: $grey-dark-color;
  text-align: center;
  font-family: $font-work-sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
}
