@use "../../styles/settings" as *;

.home-toolkit {
  position: relative;

  &__container {
    @include container;
    & {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px;
      align-items: center;
      position: relative;
      z-index: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    @include title;
    text-align: left;
  }

  &__description {
    @include description;
    text-align: left;
  }

  &__actions {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__button {
    @include button;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }

  &__image {
    @include regularShadow;
    & {
      border-radius: $border-radius-standard;
      overflow: hidden;
      background: $black-flat-color;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  @media screen and (max-width: $media-md) {
    &__container {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: $media-sm) {
    &__gallery {
      grid-template-columns: 1fr;
    }
  }
}
